
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

:root {
    --myFont: "Noto Sans JP";
    --dark1: #0a1942;
    --light1: #6266a3;
    --bright1: #433da3;
}

body {
    background: url('/images/background06-key.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--myFont), sans-serif;
    font-size: medium;
    color: grey;
}

body #menu {
    z-index: 9999;
    position: fixed;
    width: 100%;
}

body #menu-item{
    font-family: var(--myFont), sans-serif;
    color: white;
    font-size: large;
    padding: 0 4em;
    text-align: center;
    text-shadow: -1px 1px 2px  var(--dark1),
		1px 1px 2px   var(--dark1),
		1px -1px 0   var(--dark1),
		-1px -1px 0   var(--dark1);
}

body #icon {
    color: white;
}

body #main-content {
    margin-top: 1em;
    align-self: center;
    width: 90%;
    padding: 0 2em;
    background-color: rgba(0,0,0,0.7);
    border-radius: 5px;
    box-shadow: 0 0 15px 10px var(--bright1);
}

body #link {
    color: var(--light1);
}

body #center {
    text-align: center;
    text-anchor: middle;
    align-content: center;
    width: 100%;
}

body #footer {
    margin-top: 5em;
}

.ui.header {
    font-family: var(--myFont), sans-serif;
    color: white
}

.title {
    font-size: xxx-large;
    font-weight: 800;
    width: 100%;
    text-align: center;
    text-shadow: -1px 1px 2px  var(--dark1),
		1px 1px 2px   var(--dark1),
		1px -1px 0   var(--dark1),
		-1px -1px 0   var(--dark1);
}
