<!-- Used by theme-bio-builtin-1 -->

{% if site.data.bio.skills %}
<div class="row">
  <div class="sixteen wide column">
    <h3 class="ui left aligned header no-bottom">Skills</h3>
    <hr style="margin: 0px;">
  </div>

  <div class="sixteen wide column no-bottom">
    <p class="ui no-bottom">
    {% for entry in site.data.bio.skills %}
      <h4 class="ui no-bottom">
      <b>{{ entry.name }}:</b>
        <ul style="margin: 0px;">
        {% for keyword in entry.keywords %}
          <li>{{ keyword }}</li>
        {% endfor %}
        </ul>
      </p>
    {% endfor %}

  </div>
</div>
{% endif %}
